HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
work/*
my-tomcat
my-tomcat/*
logs
logs/* 
bin
bin/*
.mvn
.mvn/*
**/test-output/
**/test-output/*
**/logs/
**/logs/*

### TESTNG###
**/test-output/
**/logs/
**/test-output/*
**/logs/*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
